/*
  UC:   Computação Gráfica
  Efólio : A
  Autor: Carlos Inácio
  Número Aluno Universidade Aberta : 1701879
  Curso: Licenciatura em Engenharia Informática
*/

body{            
  margin: 0;
  overflow: hidden;
}    

/* Definir propriedades da área de canvas na página */
canvas {
  display: block;
  width:100%;
  height: 100%;
}
